{% extends "home.html" %}
{% block content %}
<div class="tovar margin__mainpage">
    <div class="category__title display__flex">
        <form method="get">
            {{ filter.form.as_p }}
            <div style="display: flex;flex-direction:column;">
                <button>
                    Поиск
                </button>
                <button>
                    <a href="{{request.META.HTTP_REFERER}}">Go back</a>
                </button>
            </div>
        </form>
        <div class="header">
            <div class="header__container display__flex">
                <div class="header__right display__flex">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'corsina' %}">
                            <div class="cart display__flex">
                                <img src="../icons/cart.svg" alt="">
                                <p>{{products}}</p>
                            </div>
                        </a>
                        <a href="{% url 'cabinet' %}">
                            <div class="login display__flex">
                                <div class="logo__img">
                                    
                                </div>
                                <div class="name">
                                    <p>{{user}}</p>
                                    <a href="{% url 'logout' %}" style="margin-left: 8px;">
                                        <p>Выйти</p>
                                    </a>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <div class="cart display__flex">
                                <img src="../icons/cart.svg" alt="">
                            </div>
                        </a>
                        <div class="login display__flex">
                            <a href="{% url 'login'%}">
                                <div class="name">
                                    <p>Войти</p>
                                </div>
                            </a>
                            <a href="{% url 'register'%}">
                                <div class="name">
                                    <p>Регис</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
            {% for i in filter.qs %}
                <div class="tovar__content">
                    <a href="{% url 'product_detail' i.pk %}">
                        <div class="img">
                            <img src="{{ i.image.url }}" alt="">
                        </div>
                        <div class="text">
                            <div class="title">
                                {{ i.name }}
                            </div>
                            <div class="price">
                                100
                            </div>
                            <!-- {% if request.user.is_authenticated %}
                                <button>
                                    <img src="@/icons/cart.svg" alt="">
                                    <a href="{% url 'add_corzina' i.id %}"><p>В корзину</p></a>
                                </button>
                            {% else %}
                                <button>
                                    <img src="@/icons/cart.svg" alt="">
                                    <a href="{% url 'login' %}"><p>В корзину</p></a>
                                </button>
                            {% endif %} -->
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>   
{% endblock %}